<h1>Dählhölzli Zoo Bern</h1>

<section>
  <h2>Favorit Animal</h2>
  <div>{{favoriteAnimal$ | async}}</div>

  <h2>Animals</h2>
  <ul>
    <li *ngFor="let animal of animals$ | async">{{animal}}</li>
  </ul>

  <input #field type="string">
  <button (click)="addAnimal(field.value); field.value = ''">Add</button>
</section>

<section>
  <h2>Visitors</h2>
  <div>Current: {{visitors$ | async}}</div>
  <button (click)="incrementVisitors()">+</button>
  <button (click)="decrementVisitors()">-</button>
</section>
